<div class="container m-4">
  <div class="d-flex justify-content-between m-2">
    <h1>{{ pokemon.name | titlecase }}</h1>
    <button [routerLink]="['']" class="btn btn-outline-dark">Back Home</button>
  </div>

  <div class="col-12 p-3 bg-light">
    <div class="row">
      <div class="col">
        <h3>Height</h3>
        <h5>{{ pokemon.height }} ft</h5>
      </div>
      <div class="col">
        <h3>Abilities</h3>
        <h5 *ngFor="let ability of pokemon.abilities">
          {{ ability.ability.name | titlecase }}
        </h5>
      </div>
      <div class="col">
        <h3>Types</h3>
        <h5 *ngFor="let type of pokemon.types">
          <span class="badge bg-{{ getTypeColor(pokemon) }} me-2">
            {{ type.type.name | titlecase }}
          </span>
        </h5>
      </div>
      <div class="col">
        <h3>Weight</h3>
        <h5>{{ pokemon.weight }} lbs</h5>
      </div>
      <div class="col">
        <!-- src="{{pokemon.sprites.other?.['official-artwork']?.front_default}}" -->
        <img 
        src="{{pokemon.sprites.other?.['official-artwork']?.front_default}}"
        alt="{{ pokemon.name }}"
        class="img-fluid" />
      </div>
    </div>
    <div class="col-6">
      <h3>Base Stats</h3>
      <table class="table">
        <tbody class="table-hover">
          <tr>
            <th scope="row">HP</th>
            <td>{{ pokemon.stats[0].base_stat }}</td>
          </tr>
          <tr>
            <th scope="row">Attack</th>
            <td>{{ pokemon.stats[1].base_stat }}</td>
          </tr>
          <tr>
            <th scope="row">Defense</th>
            <td>{{ pokemon.stats[2].base_stat }}</td>
          </tr>
          <tr>
            <th scope="row">Special Attack</th>
            <td>{{ pokemon.stats[3].base_stat }}</td>
          </tr>
          <tr>
            <th scope="row">Special Defense</th>
            <td>{{ pokemon.stats[4].base_stat }}</td>
          </tr>
          <tr>
            <th scope="row">Speed</th>
            <td>{{ pokemon.stats[5].base_stat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 p-3 bg-light mt-3">
    <h3>Species Information</h3>
    <div class="row">
      <div class="col">
        <h3>Name</h3>
        <p>{{ pokemon.name | titlecase }}</p>
      </div>
      <div class="col">
        <h3>Generation</h3>
        <p  >{{ pokemonsSpecie.generation.name | titlecase }}</p>
      </div>
      <div class="col">
        <h3>Genus</h3>
        <p>{{ pokemonsSpecie.genera[0].genus }}</p>
      </div>
      <div class="col">
        <h3>Color</h3>
        <p>{{ pokemonsSpecie.color.name | titlecase }}</p>
      </div>
      <div class="col">
        <h3>Habitat</h3>
        <p>{{ pokemonsSpecie.habitat.name | titlecase }}</p>
      </div>
      <div class="col">
        <h3>Capture rate</h3>
        <p>{{ pokemonsSpecie.capture_rate }}</p>
      </div>
      <div class="col">
        <h3>Growth rate</h3>
        <p>{{ pokemonsSpecie.growth_rate.name | titlecase }}</p>
      </div>
      <div class="col">
        <h3>Varieties</h3>
        <p *ngFor="let varieties of pokemonsSpecie.varieties.slice(0,5)"
          class="badge bg-secondary">
          {{ varieties.pokemon.name | titlecase }}</p>
      </div>
    </div>
  </div>

  <div class="col-12 p-3 bg-light mt-3">
    <h3>Evolution Chain</h3>

    <div
      class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-4 g-4 text-center mt-2"
    >
      <div class="row mb-3" *ngFor="let evolution of pokemonEvolution"
      >
        <div class="col">
          <div
            class="card bg-light animate__animated animate__animated animate__fadeIn"
          >
            <div class="card-body"
                [routerLink]="['/pokemon', evolution.name]">
              <h5 class="card-title"> {{ evolution.name | titlecase }} </h5>
              <!-- [src]="pokemon.sprites.front_default" -->
              <img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ evolution.id }}.png"
                class="img-fluid rounded-start"
                alt="{{ evolution.name }}"
              />
            </div>
          </div>
        </div>
      </div>
   
  </div>
</div>
