<div
  class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-4 g-4 text-center mt-2">
  <div class="col" *ngFor="let pokemon of pokemons">
    <div
      class="card bg-{{ getTypeColor(pokemon) }} 
      shadow animate__animated animate__animated animate__fadeInUp">
      <div class="card-body" [routerLink]="['/pokemon', pokemon.name]">
        <h5 class="card-title">{{ pokemon.name | titlecase }}</h5>
        <!-- [src]="pokemon.sprites.front_default" -->
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
          class="card-img-bottom"
          alt="{{ pokemon.name }}"
        />
      </div>
    </div>
  </div>
</div>
