<div class="container mt-4">
  
    <div class="col-12">
  
      <h3 class="display-1 text-center">Poke App</h3>
      
      <!-- Search -->
      <app-pokemon-input></app-pokemon-input>
  
      <!-- Types -->
      <div class="row">
        <div class="col">
            <app-pokemon-types></app-pokemon-types>
        </div>
      </div>
      
      <!-- pokemon cards -->
      <div class="row">
        <div class="col">
          <app-pokemon-cards></app-pokemon-cards>
        </div>
      </div>
  
    </div>
  
  </div>