<h2 class="mt-4 text-center">Choose your pokemon!</h2>
<div class="row row-cols-1 row-cols-md-6 g-4 text-center mt-2">
    <div  class="col" *ngFor="let pokemon of pokemons; let i = index">
      <div id="card" class="card shadow bg-secondary border-0 animate__animated animate__animated animate__fadeInUp">
        <div class="card-body" >
          <h5 class="card-title" > {{ pokemon.name | titlecase }} </h5>
          <img [src]="pokemon.sprites.front_default" class="card-img-bottom" id="cardImg" alt="...">
        </div>
      </div>
    </div>

  </div>