<div *ngFor="let pokemon of pokemons; let i = index">
    <p> {{ pokemon.name }} </p>
</div>
<!-- 
<div class="row row-cols-1 row-cols-md-6 g-4 text-center mt-2">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bullbasur</h5>
          <img src="https://images.unsplash.com/photo-1606636661598-60b82d8909ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
  </div> -->